<IfModule mod_rewrite.c>
    Options +FollowSymLinks
    RewriteEngine On

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
	
    #RewriteRule ^libro/listar_libros$ index.php?action=listLibro [L]
    #RewriteRule ^user/logout$ index.php?controller=UserController&action=logout [L]
    RewriteRule ^user/login$ index.php?controller=UserController&action=showLogin [L]
    RewriteRule ^user/validate$ index.php?controller=UserController&action=validateUser [L]
    RewriteRule ^user/destroy$ index.php?controller=UserController&action=destroy [L]
    RewriteRule ^book/home$ index.php?controller=BookController&action=welcome [L]
    RewriteRule ^book/list$ index.php?controller=BookController&action=bookList [L]
    RewriteRule ^book/delete/([0-9]+)$ index.php?controller=BookController&action=bookDelete&id=$1 [L]
    RewriteRule ^book/edit$ index.php?controller=BookController&action=editBook [L]
    RewriteRule ^book/showAdd$ index.php?controller=BookController&action=showAdd [L]
    RewriteRule ^book/showEdit/([0-9]+)$ index.php?controller=BookController&action=showEdit&id=$1 [L]
    RewriteRule ^book/showSearch$ index.php?controller=BookController&action=showSearch [L]
    RewriteRule ^book/showUpdate$ index.php?controller=BookController&action=showUpdate [L]
    RewriteRule ^book/showImport$ index.php?controller=BookController&action=showImport [L]
    RewriteRule ^book/add$ index.php?controller=BookController&action=add [L]
    RewriteRule ^book/search$ index.php?controller=BookController&action=searchBook [L]
    RewriteRule ^book/update$ index.php?controller=BookController&action=updateBook [L]
    #Forma generica para las 4 opciones
    #RewriteRule ^([a-zA-Z]+)[/]?$ index.php?action=$1 [L]
</IfModule>

# Flag: [L]
# Stop the rewriting process immediately and don't apply any more rules.

# Referencia:
# - https://httpd.apache.org/docs/current/mod/mod_rewrite.html