<IfModule mod_rewrite.c>
    Options +FollowSymLinks
    RewriteEngine On

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
	
    #RewriteRule ^libro/listar_libros$ index.php?action=listLibro [L]
    #RewriteRule ^user/logout$ index.php?controller=UserController&action=logout [L]
    RewriteRule ^user/login$ index.php?controller=UserController&action=showLogin [L]
    RewriteRule ^user/validate$ index.php?controller=UserController&action=validateUser [L]
    RewriteRule ^user/destroy$ index.php?controller=UserController&action=destroy [L]
    RewriteRule ^articles/welcome$ index.php?controller=ArticleController&action=welcome [L]
    RewriteRule ^articles/list$ index.php?controller=ArticleController&action=listArticle [L]
    RewriteRule ^articles/showEdit$ index.php?controller=ArticleController&action=showEditArticle [L]
    RewriteRule ^articles/edit$ index.php?controller=ArticleController&action=editArticle [L]
    RewriteRule ^articles/delete/([0-9]+)$ index.php?controller=ArticleController&action=deleteArticle&id=$1 [L]
    RewriteRule ^articles/showAdd$ index.php?controller=ArticleController&action=showAdd [L]
    RewriteRule ^articles/add$ index.php?controller=ArticleController&action=add [L]
    RewriteRule ^articles/showImport$ index.php?controller=ArticleController&action=showImport [L]
    RewriteRule ^articles/import$ index.php?controller=ArticleController&action=importArticle [L]
    #Forma generica para las 4 opciones
    #RewriteRule ^([a-zA-Z]+)[/]?$ index.php?action=$1 [L]
</IfModule>

# Flag: [L]
# Stop the rewriting process immediately and don't apply any more rules.

# Referencia:
# - https://httpd.apache.org/docs/current/mod/mod_rewrite.html